<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.fciapp.fciscanner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name="net.fciapp.fciscanner.Splash"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.fciapp.fciscanner.Dashboard"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name="net.fciapp.fciscanner.AdminLogin"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name="net.fciapp.fciscanner.StaffLogin"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name="net.fciapp.fciscanner.AdminDashboard"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name="net.fciapp.fciscanner.AdminStaffCreate1"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name="net.fciapp.fciscanner.AdminCreateCompany"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name="net.fciapp.fciscanner.StaffDashboard"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan"></activity>

        <activity
            android:name="net.fciapp.fciscanner.AdminStaffEdit"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan"></activity>

        <activity
            android:name="net.fciapp.fciscanner.StaffAddEntry"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan">

        </activity>

        <activity
            android:name="net.fciapp.fciscanner.StaffViewEntry"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan"></activity>
        <activity
            android:name="net.fciapp.fciscanner.AdminCompanyEdit"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan"></activity>


        <activity
            android:name="net.fciapp.fciscanner.ViewFormEntry"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden|adjustPan"></activity>

        <activity
            android:name="net.fciapp.fciscanner.__Staff"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustPan" />

        <activity
            android:name="net.fciapp.fciscanner.SettingsPage"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustPan" />

        <activity android:name=".BarcodeCaptureActivity"
            android:screenOrientation="locked"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustPan"
            android:label="Read Barcode"/>

       <activity android:name=".OcrCaptureActivity"
        android:screenOrientation="locked"
        android:windowSoftInputMode="adjustPan|stateHidden|adjustPan"
        android:label="Read VinNumber"/>


    </application>

</manifest>