<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fci.com.fci">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dashboard"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".AdminLogin"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".StaffLogin"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".AdminDashboard"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".StaffCreate"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".CreateCompany"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".StaffDashboard"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden">
        </activity>

        <activity
            android:name=".StaffEdit"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden">
        </activity>

    </application>

</manifest>